* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Lato;
}
.intro {
  width: 1920px;
  height: 850px;
  display: flex;
  background: rgba(229, 84, 115, 0.1);
  align-items: center;
  justify-content: space-around;
}
.btn-primary {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  font-family: Lato;
  border-radius: 8px;
  background: #e55473;
  border: 0px;
  color: white;
}
.welcome-text {
  display: block;
  padding-left: 90px;
}

.welcome-msg {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 708px;
}
.welcome-paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 634px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.welcome-flower {
  margin-top: 50px;
}

/* main section */
.first-ad {
  width: 1920px;
  height: 4867px;
  background: #fff;
  text-align: center;
  display: block;
}
.blog-msg {
  margin: 200px auto;
  text-align: center;
  width: 594px;
}
#our-featured-flowers {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
#p-msg1 {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

#p-msg2 {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
}

#insta-msg {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.flower-ads {
  display: inline;
}

.first-flower {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  background-image: url("flower_asset/Rectangle_3.png");
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.second-flower {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  background-image: url("flower_asset/green_rectangle.png");
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.third-flower {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.text {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.rectangle-6 {
  width: 1440px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 60px auto;
}
.our-services {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 60px;
  gap: 10px;
}
.our-service-text {
  display: flex;
  text-align: justify;
  justify-content: space-evenly;
  margin-right: 75px;
  margin-top: 40px;
}

.middle-section {
  width: 1922px;
  height: 620px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-evenly;
}

.hot-deals-text {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 100px;
}
#off {
  color: #e55473;
}
.paragraph-deal {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  width: 594px;
  flex-shrink: 0;
  padding-bottom: 30px;
}
.flower-slideshow {
  padding-left: 10px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.center-text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;

  font-weight: 400;
  line-height: 30px;
}
/* form with message */
.banner-container {
  width: 100%;
  height: 449px;
  background-image: url("flower_asset/Rectangle_9.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 128px;
}
.banner-h3 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 110px;
}
.input-msg {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 48px;
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.email-form {
  width: 700px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}

.enter-email {
  width: 700px;
  height: 64px;
  flex-shrink: 0;
}

/* footer part */

.footer-container {
  width: 1922px;
  height: 449px;
  background-color: #111010;
}

.footer-msg {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  padding-top: 100px;
}
#footer-flower {
  color: #e55473;
}

.footer-paragraph {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 24px;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
}
